<header id="header" class="fixed-top d-flex align-items-center header-transparent " (scroll)="onscroll()" [ngClass]="navbarfixed?'header-scrolled':''" >
  <div class="container d-flex justify-content-between align-items-center">
    <div id="logo">
      <a href="index.html"><img src="assets/img/logo_.png" width="110px" alt=""></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " [routerLink]="['/']" routerLinkActive="" >Inicio</a></li>
        <li class="dropdown"><a  [routerLink]="['/servicios/Mineria']" routerLinkActive="active"><span>Servicios</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a  [routerLink]="['/servicios/Mineria']">Mineria</a></li>
            <li><a  [routerLink]="['/servicios/Hidrocarburos']" >Hidrocarburos</a></li>
            <li><a  [routerLink]="['/servicios/Medioambiente']" >Medioambiente – Recursos Hídricos</a></li>
            <li><a  [routerLink]="['/servicios/Corporativo']" >Corporativo</a></li>
          </ul>
        </li>
        <li class="dropdown"><a [routerLink]="['/equipo/Santiago']" routerLinkActive="active"><span>Equipo</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/equipo/Santiago">Santiago Saravia Frias</a></li>
            <li><a routerLink="/equipo/Agustín">Agustín Saravia Frías</a></li>
            <li><a routerLink="/equipo/Lucas">Lucas Cornejo Fossati</a></li>
            <li><a routerLink="/equipo/Consuelo">Consuelo Saravia Frias</a></li>
            <li><a routerLink="/equipo/Diego">Diego Juncosa Cornejo</a></li>
            <li><a routerLink="/equipo/Sofia">Sofia Paz Figueroa</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink='/clientes' routerLinkActive="active">Clientes</a></li>
        <li><a class="nav-link scrollto" routerLink='/novedades' routerLinkActive="active">Novedades</a></li>
        <li><a class="nav-link scrollto " routerLink='/contactenos' routerLinkActive="active">Contactenos</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" > </i>
      <div class="offcanvas offcanvas-end bg-black text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="z-index: 10000000000">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas" aria-label="Close" style="filter: invert(1);"></button>
        </div>
        <div class="offcanvas-body">
          <div class=""  >
          <ul style="display: block;">
            <li class="py-3"><a class="nav-link scrollto " [routerLink]="['/']" routerLinkActive="active" >Inicio</a></li>
            <li class="dropdown py-3"><a  [routerLink]="['/servicios/Mineria']" routerLinkActive="active"><span>Servicios</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a  [routerLink]="['/servicios/Mineria']" routerLinkActive="active">Mineria</a></li>
                <li><a  [routerLink]="['/servicios/Hidrocarburos']" routerLinkActive="active">Hidrocarburos</a></li>
                <li><a  [routerLink]="['/servicios/Medioambiente']" routerLinkActive="active">Medioambiente – Recursos Hídricos</a></li>
                <li><a  [routerLink]="['/servicios/Corporativo']" routerLinkActive="active">Corporativo</a></li>
              </ul>
            </li>
            <li class="dropdown py-3"><a [routerLink]="['/equipo/Santiago']" routerLinkActive="active"><span>Equipo</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a routerLink="/equipo/Santiago">Santiago Saravia Frias</a></li>
                <li><a routerLink="/equipo/Agustín">Agustín Saravia Frías</a></li>
                <li><a routerLink="/equipo/Lucas">Lucas Cornejo Fossati</a></li>
                <li><a routerLink="/equipo/Consuelo">Consuelo Saravia Frias</a></li>
                <li><a routerLink="/equipo/Diego">Diego Juncosa Cornejo</a></li>
                <li><a routerLink="/equipo/Elisea">Elisea Agolio</a></li>
              </ul>
            </li>
            <li class="py-3"><a class="nav-link scrollto" routerLink='/clientes' routerLinkActive="active">Clientes</a></li>
            <li class="py-3"><a class="nav-link scrollto" routerLink='/novedades' routerLinkActive="active">Novedades</a></li>
            <li class="py-3"><a class="nav-link scrollto " routerLink='/contactenos' routerLinkActive="active">Contactenos</a></li>
          </ul>
        </div>
        </div>
      </div>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->

<section id="about">
  <div class="continer img_novedades">
    <div class="col-12">
      <div class="title text-center" style="padding-top: 46px">
        <p class="section-description" style="
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0px;
    font-size: 28px;
    font-family: -webkit-body;
    font-weight: 700;
    padding-top: 20px;
    margin-top: 80px;
    color: white;
    text-shadow: 6px 0px 5px black;
          ">
Saravia Frías & Cornejo en los medios        </p>
      </div>
    </div>
  </div>
  <div class="container conainer_novedades_contex">
    <div class="row"  style="position: relative; padding-top: 46px;">
      <!-- section title -->
      <!-- <div class="col-12">
        <div class="title text-center" style="padding-top: 46px">
          <div class="border"></div>

        </div>
      </div> -->
      <!-- /section title -->
      <!-- single blog post -->
      <article class="col-md-4 col-sm-6 col-xs-12 clearfix">
        <div class="post-item">
          <div class="media-wrapper">
            <img src="http://sfcabogados.com.ar/wp-content/uploads/2021/06/thenewerport1.jpg"
              alt="amazing caves coverimage" class="img-fluid" height="305px" />
          </div>

          <div class="content">
            <h3>
              <a>Natural Resources Law Firm of the Year – South America</a>
            </h3>
            <p>Revista “The New World Report” | Junio 2021</p>
            <a class="btn btn-outline-secondary" href="https://firebasestorage.googleapis.com/v0/b/sfca-c4619.appspot.com/o/thennewrepot%20(1).pdf?alt=media&token=9dc72e45-5ddf-4724-b5ab-f53437d59264">Leer mas</a>
          </div>
        </div>
      </article>
      <!-- /single blog post -->

      <!-- single blog post -->
      <article class="col-md-4 col-sm-6 col-sm-12">
        <div class="post-item">
          <div class="media-wrapper">
            <img src="http://sfcabogados.com.ar/wp-content/uploads/2019/03/auno-e1552668829393.png"
              alt="amazing caves coverimage" class="img-fluid" height="305px" />
          </div>

          <div class="content">
            <h3><a>DESDE EL NORTE</a></h3>
            <p>A Uno Abogados | Febrero 2019</p>
            <a class="btn btn-outline-secondary" href="https://firebasestorage.googleapis.com/v0/b/sfca-c4619.appspot.com/o/AUNO-1%20(2)%20(1).pdf?alt=media&token=762766ec-0dfc-46c9-a1ec-b33008f35f42">Leer mas</a>
          </div>
        </div>
      </article>
      <!-- end single blog post -->

      <!-- single blog post -->
      <article class="col-md-4 col-sm-6 col-xs-12">
        <div class="post-item">
          <div class="media-wrapper">
            <img src="http://sfcabogados.com.ar/wp-content/uploads/2019/03/Finance.png" alt="amazing caves coverimage"
              class="img-fluid" height="305px" />
          </div>

          <div class="content">
            <h3>
              <a>
                Route One Acquires A Stake In The Argentinian “Altar Project”
              </a>
            </h3>
            <p>FINANCE MONTHLY | Octubre 2018</p>
            <a class="btn btn-outline-secondary" href="https://firebasestorage.googleapis.com/v0/b/sfca-c4619.appspot.com/o/Route%20One%20Acquires%20A%20Stake%20In%20The%20Argentinian.pdf?alt=media&token=6fde3154-7378-41df-8f71-9cdcefef2ef4">Leer mas</a>
          </div>
        </div>
      </article>
      <!-- end single blog post -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5" style="align-self: center">
        <img src="https://res.cloudinary.com/ricardo3874/image/upload/v1659491655/Abogados%20sfc/DSC_8765-min_zddzkb.jpg"
        alt="" srcset="" class="img-fluid" />
      </div>
      <div class="col-lg-7 col-md-7" style="align-self: center">
        <div class="section-header">
          <h3 class="section-title" style="color: white;
          font-size: 32px;
          text-transform: inherit;
          font-weight: 500;">Marco Normativo Minero NOA  Argentino</h3>
              <a class="cta-btn " href="https://mineriasustentable.com.ar/contenido/1066/se-presento-en-ucasal-el-libro-marco-normativo-minero-noa-argentino">Mas Informacion</a>
        </div>
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
