<header id="header" class="fixed-top d-flex align-items-center header-transparent" (scroll)="onscroll()"
  [ngClass]="navbarfixed ? 'header-scrolled' : ''">
  <div class="container d-flex justify-content-between align-items-center">
    <div id="logo">
      <a routerLink="/"><img src="assets/img/logo_.png" width="110px" alt="" /></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto" [routerLink]="['/']" routerLinkActive="active">Inicio</a>
        </li>
        <li class="dropdown">
          <a [routerLink]="['/servicios']" routerLinkActive="active"><span>Servicios</span> <i
              class="bi bi-chevron-down"></i></a>
          <ul>
            <li>
              <a [routerLink]="['/servicios/Mineria']" routerLinkActive="active">Mineria</a>
            </li>

            <li>
              <a [routerLink]="['/servicios/Hidrocarburos']" routerLinkActive="active">Hidrocarburos</a>
            </li>
            <li>
              <a [routerLink]="['/servicios/Medioambiente']" routerLinkActive="active">Medioambiente – Recursos
                Hídricos</a>
            </li>
            <li>
              <a [routerLink]="['/servicios/Corporativo']" routerLinkActive="active">Corporativo</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a [routerLink]="['/equipo']" routerLinkActive="active"><span>Equipo</span> <i
              class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/equipo/Santiago">Santiago Saravia Frias</a></li>
            <li><a routerLink="/equipo/Agustín">Agustín Saravia Frías</a></li>
            <li><a routerLink="/equipo/Lucas">Lucas Cornejo Fossati</a></li>
            <li><a routerLink="/equipo/Consuelo">Consuelo Saravia Frias</a></li>
            <li><a routerLink="/equipo/Diego">Diego Juncosa Cornejo</a></li>
            <li><a routerLink="/equipo/Elisea">Elisea Agolio</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link scrollto" routerLink="/clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li>
          <a class="nav-link scrollto" routerLink="/novedades" routerLinkActive="active">Novedades</a>
        </li>
        <li>
          <a class="nav-link scrollto" routerLink="/contactenos" routerLinkActive="active">Contactenos</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
      </i>
      <div class="offcanvas offcanvas-end bg-black text-white" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel" style="    z-index: 10000000;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas" aria-label="Close"
            style="filter: invert(1)"></button>
        </div>
        <div class="offcanvas-body">
          <div class="">
            <ul style="display: block">
              <li class="py-3">
                <a class="nav-link scrollto" [routerLink]="['/']" routerLinkActive="active">Inicio</a>
              </li>
              <li class="dropdown py-3">
                <a href="#" routerLinkActive="active"><span>Servicios</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li>
                    <a [routerLink]="['/servicios/Mineria']" routerLinkActive="active">Mineria</a>
                  </li>
                  <li>
                    <a [routerLink]="['/servicios/Hidrocarburos']" routerLinkActive="active">Hidrocarburos</a>
                  </li>
                  <li>
                    <a [routerLink]="['/servicios/Medioambiente']" routerLinkActive="active">Medioambiente – Recursos
                      Hídricos</a>
                  </li>
                  <li>
                    <a [routerLink]="['/servicios/Corporativo']" routerLinkActive="active">Corporativo</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown py-3">
                <a routerLinkActive="active"><span>Equipo</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li>
                    <a routerLink="/equipo/Santiago">Santiago Saravia Frias</a>
                  </li>
                  <li>
                    <a routerLink="/equipo/Agustín">Agustín Saravia Frías</a>
                  </li>
                  <li>
                    <a routerLink="/equipo/Lucas">Lucas Cornejo Fossati</a>
                  </li>
                  <li>
                    <a routerLink="/equipo/Consuelo">Consuelo Saravia Frias</a>
                  </li>
                  <li>
                    <a routerLink="/equipo/Diego">Diego Juncosa Cornejo</a>
                  </li>
                  <li><a routerLink="/equipo/Elisea">Elisea Agolio</a></li>
                </ul>
              </li>
              <li class="py-3">
                <a class="nav-link scrollto" routerLink="/clientes" routerLinkActive="active">Clientes</a>
              </li>
              <li class="py-3">
                <a class="nav-link scrollto" routerLink="/novedades" routerLinkActive="active">Novedades</a>
              </li>
              <li class="py-3">
                <a class="nav-link scrollto" routerLink="/contactenos" routerLinkActive="active">Contactenos</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" style="filter: brightness(1.7)!important ;">
  <div class="hero-container container-sm timenw" style="font-family: 'Times New Roman', Times, serif ; MARGIN-TOP: 134px"
    data-aos="zoom-in" data-aos-delay="100">
    <h1 class="py-3 PEPE">Saravia Frias & Cornejo</h1>
    <h2 class="text-white PEPE" style="
        color: #eee;
        margin-bottom: 50px;
        font-size: 34px;
        font-weight: 400;
        TEXT-TRANSFORM: uppercase;
      ">
      Abogados
    </h2>
  </div>
</section>
<!-- End Hero Section -->

<main id="main">
  <!-- ======= About Section ======= -->

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col collapse1" style="align-self: center">
          <div class="section-header">
            <h3 class="section-title">Sobre nosotros</h3>
            <p class="section-description" style="
                color: black;
                text-align: center;
                padding-bottom: 0px;
                font-size: larger;
                font-family: -webkit-body;
                font-weight: 500;
                font-family: 'Times New Roman', Times, serif;
              ">
              Somos uno de los principales estudios de abogados de Argentina,
              con sede en la ciudad de Salta, especializados en recursos
              naturales. Nuestra misión es brindar un servicio jurídico de
              excelencia, innovador y personalizado.
            </p>
          </div>
        </div>
        <div class="col collapse1" style="align-self: center">
          <img src="https://res.cloudinary.com/ricardo3874/image/upload/v1659626834/Abogados%20sfc/DSC025781_fcrres.jpg"
            alt="" srcset="" class="img-fluid" />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- section title -->
        <div class="col-12">
          <div class="title text-center" style="padding-top: 46px">
            <div class="border"></div>
            <p class="section-description" style="
                color: black;
                text-transform: uppercase;
                text-align: center;
                padding-bottom: 0px;
                font-size: 23px;
                font-family: -webkit-body;
                font-weight: 600;
                padding-top: 20px;
                margin-top: 44px;
              ">
Saravia Frías & Cornejo en los medios            </p>
          </div>
        </div>
        <!-- /section title -->
        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 clearfix">
          <div class="post-item">
            <div class="media-wrapper">
              <img src="http://sfcabogados.com.ar/wp-content/uploads/2021/06/thenewerport1.jpg"
                alt="amazing caves coverimage" class="img-fluid" height="305px" />
            </div>

            <div class="content">
              <h3>
                <a>Natural Resources Law Firm of the Year – South America</a>
              </h3>
              <p>Revista “The New World Report” | Junio 2021</p>
              <a class="btn btn-outline-secondary" routerLink="/novedades">Leer mas</a>
            </div>
          </div>
        </article>
        <!-- /single blog post -->

        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-sm-12">
          <div class="post-item">
            <div class="media-wrapper">
              <img src="http://sfcabogados.com.ar/wp-content/uploads/2019/03/auno-e1552668829393.png"
                alt="amazing caves coverimage" class="img-fluid" height="305px" />
            </div>

            <div class="content">
              <h3><a>DESDE EL NORTE</a></h3>
              <p>A Uno Abogados | Febrero 2019</p>
              <a class="btn btn-outline-secondary" routerLink="/novedades">Leer mas</a>
            </div>
          </div>
        </article>
        <!-- end single blog post -->

        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12">
          <div class="post-item">
            <div class="media-wrapper">
              <img src="http://sfcabogados.com.ar/wp-content/uploads/2019/03/Finance.png" alt="amazing caves coverimage"
                class="img-fluid" height="305px" />
            </div>

            <div class="content">
              <h3>
                <a>
                  Route One Acquires A Stake In The Argentinian “Altar Project”
                </a>
              </h3>
              <p>FINANCE MONTHLY | Octubre 2018</p>
              <a class="btn btn-outline-secondary" routerLink="/novedades">Leer mas</a>
            </div>
          </div>
        </article>
        <!-- end single blog post -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5" style="align-self: center">
          <img src="https://res.cloudinary.com/ricardo3874/image/upload/v1659491655/Abogados%20sfc/DSC_8765-min_zddzkb.jpg"
          alt="" srcset="" class="img-fluid" />
        </div>
        <div class="col-lg-7 col-md-7" style="align-self: center">
          <div class="section-header">
            <h3 class="section-title" style="color: white;
            font-size: 32px;
            text-transform: inherit;
            font-weight: 500;">Marco Normativo Minero NOA  Argentino</h3>
                <a class="cta-btn " href="https://mineriasustentable.com.ar/contenido/1066/se-presento-en-ucasal-el-libro-marco-normativo-minero-noa-argentino">Mas Informacion</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row about-container container" >

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">Sobre nosotros</h2>
          <p>
            Somos uno de los principales estudios de abogados de Argentina, con sede en la ciudad de Salta, especializados en recursos naturales.
            Nuestra misión es brindar un servicio jurídico de excelencia, innovador y personalizado.
          </p>
          <img src="assets/img/WhatsApp-Image-2021-06-25-at-13.27.15.jpeg" class="img-preio" alt="" srcset="">

        </div>

        <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
      </div>

    </div>
  </section> -->
  <!-- Carousel wrapper -->

  <!-- Carousel wrapper -->

  <!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <!-- <section id="facts">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Facts</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="534" data-purecounter-duration="1" class="purecounter"></span>
          <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
          <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
          <p>Hard Workers</p>
        </div>

      </div>

    </div>
  </section> -->

  <!-- ======= Services Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Servicios</h3>
        <p class="section-description">
          Brindamos asesoramiento jurídico de excelencia y personalizado a
          empresas mineras, hidrocarburiferas y de recursos hídricos en el
          cumplimiento de la legislación argentina.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" [routerLink]="['/servicios/Mineria']">
          <div class="box mine">
            <div class="icon">
              <a><i class="bi bi-minecart-loaded"></i></a>
            </div>
            <h4 class="title"><a>Mineria</a></h4>
            <p class="description"></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" [routerLink]="['/servicios/Hidrocarburos']">
          <div class="box hidro">
            <div class="icon">
              <a><i class="fa-solid fa-oil-well"></i></a>
            </div>
            <h4 class="title"><a>Hidrocarburos</a></h4>
            <p class="description"></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" [routerLink]="['/servicios/Medioambiente']">
          <div class="box agua">
            <div class="icon">
              <a><i class="fa-solid fa-water"></i></a>
            </div>
            <h4 class="title"><a>Medioambiente</a></h4>
            <p class="description"></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" [routerLink]="['/servicios/Corporativo']">
          <div class="box cor">
            <div class="icon">
              <a><i class="fa-solid fa-water"></i></a>
            </div>
            <h4 class="title"><a>Corporativo</a></h4>
            <p class="description"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Call To Action Section ======= -->

  <!-- End Call To Action Section -->

  <!-- ======= Portfolio Section ======= -->
  <!-- <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Portfolio</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>App</p>
            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>App</p>
            <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 3</h4>
            <p>App</p>
            <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 1</h4>
            <p>Card</p>
            <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 3</h4>
            <p>Card</p>
            <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section> -->

  <!-- ======= Team Section ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Nuestro Equipo</h3>
        <p class="section-description">
          Somos un equipo de abogados con una sólida experiencia en
          asesoramiento jurídico integral a empresas nacionales e
          internacionales con un enfoque basado en la confianza y versatilidad.
          A partir del conocimiento del negocio que desarrollan nuestros
          clientes proveemos soluciones eficientes y seguras.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4" >
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="pic"routerLink="/equipo/Santiago">
              <img
                src="https://res.cloudinary.com/ricardo3874/image/upload/v1658979596/Abogados%20sfc/DSC02503_z96c7g.jpg"
                alt="" />
            </div>
            <h4 routerLink="/equipo/Santiago">Santiago Saravia Frias</h4>
            <span routerLink="/equipo/Agustín">Socio</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/santiago-saravia-frias-7953702a/?originalSubdomain=ar"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4" >
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="pic" routerLink="/equipo/Agustín">
              <img
                src="https://res.cloudinary.com/ricardo3874/image/upload/v1659455823/Abogados%20sfc/DSC02497_fuah3p.jpg"
                alt="" />
            </div>
            <h4 routerLink="/equipo/Agustín">Agustín Saravia Frías</h4>
            <span routerLink="/equipo/Agustín">Socio</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/agust%C3%ADn-saravia-fr%C3%ADas-54644050/?original_referer=https%3A%2F%2Fwww%2Egoogle%2Ecom%2F&originalSubdomain=ar"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4" >
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="pic" routerLink="/equipo/Lucas">
              <img src="https://res.cloudinary.com/ricardo3874/image/upload/v1658979589/Abogados%20sfc/DSC02521_i0tewx.jpg" alt="" />
            </div>
            <h4 routerLink="/equipo/Lucas">Lucas Cornejo Fossati</h4>
            <span routerLink="/equipo/Lucas">Socio</span>
            <div class="social">
              <a><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4" >
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="pic"routerLink="/equipo/Consuelo">
              <img
                src="https://res.cloudinary.com/ricardo3874/image/upload/v1658979622/Abogados%20sfc/DSC02475_ptbuea.jpg"
                alt="" />
            </div>
            <h4 routerLink="/equipo/Consuelo" >Consuelo Saravia Frias</h4>
            <span routerLink="/equipo/Consuelo">Asociada</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/consuelo-saravia-fr%C3%ADas-93a7b113/?originalSubdomain=ar"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4" >
          <div class="member" data-aos="fade-up" data-aos-delay="500">
            <div class="pic" routerLink="/equipo/Diego">
              <img
                src="https://res.cloudinary.com/ricardo3874/image/upload/v1658979582/Abogados%20sfc/DSC02514_jbj4om.jpg"
                alt="" />
            </div>
            <h4 routerLink="/equipo/Diego">Diego Juncosa Cornejo</h4>
            <span routerLink="/equipo/Diego">Asociado</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/diego-juncosa-cornejo-30369311b/?original_referer=https%3A%2F%2Fwww%2Egoogle%2Ecom%2F&originalSubdomain=ar"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4" >
          <div class="member" data-aos="fade-up" data-aos-delay="600">
            <div class="pic" routerLink="/equipo/Elisea">
              <img
                src="https://res.cloudinary.com/ricardo3874/image/upload/v1658979616/Abogados%20sfc/DSC02485_ttxqk2.jpg"
                alt="" />
            </div>
            <h4 routerLink="/equipo/Elisea">Elisea Agolio</h4>
            <span routerLink="/equipo/Elisea">Paralegal</span>
            <div class="social">
              <a><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">Contactenos</h3>
        <p class="section-description"></p>
      </div>
    </div>

    <!-- Uncomment below if you wan to use dynamic maps -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14489.500278227917!2d-65.407234!3d-24.7826072!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4cb6db77eeb01ed7!2sESTUDIO+SARAVIA+FRIAS+%26+CORNEJO!5e0!3m2!1ses-419!2sar!4v1547498795928"
      width="100%" height="380" frameborder="0" style="border: 0" allowfullscreen></iframe>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="bi bi-geo-alt"></i>
              <p>
                Rivadavia 378 <br />
                CP4400 - Salta, Argentina
              </p>
            </div>

            <div>
              <i class="bi bi-envelope"></i>
              <p>info@sfcabogados.com.ar</p>
            </div>

            <div>
              <i class="bi bi-phone"></i>
              <p>(+54 0387) 4329023</p>
            </div>
            <div>
              <i class="bi bi-linkedin"></i>
              <p><a href="https://www.linkedin.com/company/saravia-fr%C3%ADas-cornejo-abogados/?originalSubdomain=ar">www.linkedin.com</a></p>
            </div>
          </div>

          <!-- <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required />
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required />
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required />
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Su mensaje ha sido enviado. Gracias
                </div>
              </div>
              <div class="text-center">
                <button type="submit">Enviar Mensaje</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container"></div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; <strong>Saravia Frias & Cornejo</strong>.
    </div>
    <div class="credits">
      <!--
      All the links in the footer should remain intact.
      You can delete the links only if you purchased the pro version.
      Licensing information: https://bootstrapmade.com/license/
      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
    -->
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
